<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Order Notification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Arial:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet" />
    <style>
        body {
            background: #888;
            font-family: "Arial", sans-serif;
        }

        .wrapper {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;

            border-radius: 4px 4px 0 0;
        }

        .wrapper .img {
            display: flex;
            justify-content: center;
        }

        .wrapper img {
            height: 140px;
            width: auto;
        }

        .wrapper #title {
            text-align: center;
            color: #7bbe4a;
        }

        .welcome {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .detail {
            display: flex;
            align-items: center;
        }

        .detail h4 {
            font-weight: 700;
            margin-right: 6px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .detail p {
            margin-top: 0;
            margin-bottom: 0;
        }

        .action {
            text-align: left;
        }

        .note {
            color: green;
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        footer {
            background: #7bbe4a;
            padding: 10px;
            display: flex;
            justify-content: center;
            color: #000;
            margin: 0 auto;
            max-width: 620px;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .seperator {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <section class="wrapper" style="background: #f7f7f7">
        <div style="text-align: center;">
            <img src="https://jekaeat.s3.amazonaws.com/Je%CC%81kaeat_Logo-removebg-preview.png" alt="" />
        </div>
        <p id="title">Healthy Food, Heathy Living, Heathy Live</p>
        <h2 class="welcome">Dear Support,</h2>
        <p>
            Kindly be informed that a new order has been placed by a customer. Please review
            the details below:
        </p>
        <ul style="list-style: none; padding: 0;">
            <li><strong>Order ID</strong>: {{order._id}}</li>
            <li><strong>Customer Name</strong>: {{order.customer.fullName}}</li>
            <li><strong>Vendor</strong>: {{order.vendor.restaurantName}}</li>
            <li><strong>Order date</strong>: {{order.createdAt}}</li>
        </ul>

        <p style="margin-top: 40px">Best Regards</p>
        <p>The Jekaeat Team.</p>
    </section>
    <footer style="display: flex; justify-content: center">
        <p>2023 © Jekaeat • All Rights Reserved</p>
    </footer>
</body>

</html>