<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Onboarding Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Arial:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet" />
    <style>
        body {
            background: #888;
            font-family: "Arial", sans-serif;
        }

        .wrapper {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;

            border-radius: 4px 4px 0 0;
        }

        .wrapper .img {
            display: flex;
            justify-content: center;
        }

        .wrapper img {
            height: 140px;
            width: auto;
        }

        .wrapper #title {
            text-align: center;
            color: #7bbe4a;
        }

        .welcome {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .detail {
            display: flex;
            align-items: center;
        }

        .detail h4 {
            font-weight: 700;
            margin-right: 6px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .detail p {
            margin-top: 0;
            margin-bottom: 0;
        }

        .action {
            text-align: left;
        }

        .note {
            color: green;
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        footer {
            background: #7bbe4a;
            padding: 10px;
            display: flex;
            justify-content: center;
            color: #000;
            margin: 0 auto;
            max-width: 620px;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .seperator {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <section class="wrapper" style="background: #f7f7f7">
        <div style="text-align: center;">
            <img src="https://jekaeat.s3.amazonaws.com/Je%CC%81kaeat_Logo-removebg-preview.png" alt="" />
        </div>
        <p id="title">Healthy Food, Heathy Living, Heathy Live</p>
        <h2 class="welcome">Dear {{user.fullName}},</h2>
        <p>
            Welcome to Jekaeat! We are delighted to have you join our community of
            food enthusiasts and are thrilled to embark on this delicious journey
            with you. Get ready to discover a world of culinary delights at your
            fingertips!
        </p>

        <div class="" style="display: flex; justify-content: center">
            <img src="https://beautifulng.com/wp-content/uploads/2016/05/jollof-rice.jpg" alt=""
                style="border-radius: 8px" />
        </div>

        <p>
            Whether you're craving nicely prepared rice, a comforting bowl of
            noodles, a refreshing salad, or a decadent dessert, Jekaeat has got you
            covered. With our intuitive and user-friendly app, you can explore a
            wide range of local restaurants, browse their menus, and conveniently
            order your favorite dishes in just a few taps. With our intuitive and
            user-friendly app, you can explore a wide range of local restaurants,
            browse their menus, and conveniently order your favorite dishes in just
            a few taps.
        </p>

        <p style="margin-top: 40px">Best Regards</p>
        <p>The Jekaeat Team.</p>
    </section>
    <footer style="display: flex; justify-content: center">
        <p>2023 © Jekaeat • All Rights Reserved</p>
    </footer>
</body>

</html>